@import "bootstrap";
// ******
// Header
// ******
header {
  h1.logo {
    font-size: 1.5rem;
  }
  img {
    width: 5rem;
  }
}

// *******
// Flash Messages
// *******
.flash-alert {
  color: red;
}
.flash-notice {
  color: green;
}
